{% extends 'base.html' %}


<BR>

{% block body %}


{% block title %} About {% endblock %}


<div class="container my-1">

<div class="card col-auto mx-auto" style="width: 15rem;">
  <img class="card-img-top" src="\static\profile.png" alt="Card image cap">
  <div class="card-body">
    <p class="text-center">I'm the owner of this website.</p>
  </div>
</div>

</div>


<div class="card fixed-bottom">
  <div class="card-header text-center">
    Featured
  </div>

  <div class="card-body text-center">
    <h5 class="card-title"> Servicing Website</h5>
    <p class="card-text"> In this website we are providing applications as per need Customers </p>
    <a href="http://127.0.0.1:8000/" class="btn btn-primary">Tech Atif</a>
  </div>
</div>

{% endblock %}