{% extends 'base.html' %}

                   {% block title %} Search {% endblock %}
                   {% block body %}



<h1 class="mx-5"> Result :- <br> </h1>








<div class="card fixed-bottom">
  <div class="card-header text-center">
    Featured
  </div>

  <div class="card-body text-center">
    <h5 class="card-title"> Servicing Website</h5>
    <p class="card-text"> In this website we are providing applications as per need Customers </p>
    <a href="http://127.0.0.1:8000/" class="btn btn-primary">Tech Atif</a>
  </div>
</div>




{% endblock %}